name: Stress Test Resolvit
on: [push]
jobs:
  test:
    name: Stress Test Resolvit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1

      - name: CPU Info
        run: cat /proc/cpuinfo

      - name: Runn Stress Test
        run: bash .github/scripts/stress-test.sh
